<!DOCTYPE html>
<html lang="en">



<head>
    <meta charset="UTF-8">
    <title>MySpringMVC模板引擎演示</title>

    <!--<script type="text/javascript" src="/assets/live2d.min.js"></script>
<script type="text/javascript" src="/assets/waifu-tips.js"></script>
<link rel="stylesheet" type="text/css" href="/assets/waifu.css"/>-->

<!--    <script type="text/javascript" charset="utf-8"  src="/assets/L2Dwidget.0.min.js"></script>
    <script type="text/javascript" charset="utf-8"  src="/assets/L2Dwidget.min.js"></script>
    <script type="text/javascript">
        L2Dwidget.init({"display": {
                "superSample": 2,
                "width": 200,
                "height": 400,
                "position": "right",
                "hOffset": 0,
                "vOffset": 0
            }
        });
    </script>-->

</head>
<body>
    <h1>我是${name}</h1>
    <dev>当前时间${date}</dev>
    Token:${token}
</body>
</html>